
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <img src="assets/Images/mymchi-credai-logo.png" alt="">
                <p>CREDAI-MCHI is an apex body consisting of members from the Real Estate Industry among Kalyan Dombivli Unit (KDU).</p>
                <p class="address">Tycoons Sapphire Building, Office No. 107, Opp. Swapna Nagari CHS, Godrej Hill, Kalyan (West), Thane Maharashtra 421301</p>
                <p class="contact">+91 9555211222</p>
                <p class="email">info@mymchi.com</p>
                <p class="day">Monday - Saturday</p>
                <p class="time">10:30 AM - 6:30 PM</p>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <h2 class="feed">FEEDBACK</h2>
                <p>We want your feedback about everything</p>
                <form class="was-validated">
                    <div class="mb-3 pb-1">
                      <div class="form-outline">
                        <textarea class="form-control is-valid" id="validationTextarea" placeholder="Required example textarea" required></textarea>
                        <label for="validationTextarea" class="form-label">Textarea</label>
                        <div class="invalid-feedback">Please enter a message in the textarea.</div>
                      </div>
                    </div>
                    <div class="form-check mb-3">
                      <input type="checkbox" class="form-check-input" id="validationFormCheck1" required />
                      <label class="form-check-label" for="validationFormCheck1">Check this checkbox</label>
                      <div class="invalid-feedback">Example invalid feedback text</div>
                    </div>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" id="validationFormCheck2" name="radio-stacked" required />
                      <label class="form-check-label" for="validationFormCheck2">Toggle this radio</label>
                    </div>
                    <div class="form-check mb-3">
                      <input type="radio" class="form-check-input" id="validationFormCheck3" name="radio-stacked" required />
                      <label class="form-check-label" for="validationFormCheck3">Or toggle this other radio</label>
                      <div class="invalid-feedback">More example invalid feedback text</div>
                    </div>
                    <div class="mb-3">
                      <input type="file" class="form-control" aria-label="file example" required />
                      <div class="invalid-feedback">Example invalid form file feedback</div>
                    </div>
                    <div class="mb-3">
                      <button class="btn btn-primary" type="submit" disabled>Submit form</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>

</div>