<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-12 col-xs-12 offset-lg-1">
            <h2 class="heading">INTRODUCTION</h2>
            <p>Formed in 1982, CREDAI-MCHI is one of the premier housing and developers associations in India. The 
              CREDAI-MCHI Kalyan-Dombivli unit is representive body of progressive developers formed in 2010 and is 
              operating in one of the fastest growing region of MMR, encompassing the Kalyan-Dombivli unit region.</p>
              <h6>THE CREDAI - MCHI KALYAN - DOMBIVILI UNIT CHAPTER HAS BEEN ESTABLISHED</h6>
              <div class="italic">TO ACHIEVE THE FOLLOWING OBJECTIVES</div>
              <ul>
                <li>To make the Kalyan-Dombivli unit the most preferred destination for affordable and mid income housing through organized, planned and balanced development.</li>
                <li>To foster and forge unity, co-operation and mutual support amongst its members.</li>
                <li>To create a platform for interaction with the regulatory bodies and government agencies on policy matters relating to the development of this region.</li>
                <li>Adopting an ethical code of conduct for members.</li>
                <li>Propagating best-in-class industry practices amongst its members</li>
              </ul>
        </div>
    </div>
</div>
