<div class="container">
    <div class="row">
        <h3 class="heading">MANAGING COMMITTEE 2020-2021</h3>
        <h5 class="sub-heading">PRESIDENT</h5>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/1_PRESIDENT_SHRI-SHRIKANT-SHITOLE.jpg" alt="">
            <div class="head">SHRI SHRIKANT SHITOLE <br> (PRESIDENT)</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/2_IMM.-PAST-PRESIDENT_-SHRI-DEEPAK-MEHTA.jpg" alt="">
            <div class="head">SSHRI DEEPAK MEHTA <br> (IMMEDIATE PAST PRESIDENT)</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/3_PRESIDENT-ELECT_SHRI-BHARAT-CHHEDA.jpg" alt="">
            <div class="head">SHRI BHARAT CHHEDA <br> (PRESIDENT-ELECT)</div>
        </div>
    </div>
    <div class="row">
        <h5 class="sub-heading">VICE PRESIDENT</h5>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/4_VICE-PRESIDENT_SHRI--VIKAS-VIRKAR.jpg" alt="">
            <div class="head">SHRI VIKAS VIRKAR</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/5_VICE-PRESIDENT_SHRI-RAJESH-GUPTA.jpg" alt="">
            <div class="head">SHRI RAJESH GUPTA</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/6_VICE-PRESIDENT_SHRI-MILIND-CHAVAN.jpg" alt="">
            <div class="head">SHRI MILIND CHAVAN</div>
        </div>
    </div>
    <div class="row">
        <h5 class="sub-heading">HON. SECRETARY</h5>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/7_SECRETARY_SHRI-VIKAS.H.JAIN.jpg" alt="">
            <div class="head">SHRI VIKAS.H.JAIN</div>
        </div>
    </div>
    <div class="row">
        <h5 class="sub-heading">HON. JOINT SECRETARIES</h5>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/8_JT.-SECRETARY_SHRI-ARVIND-VARAK.jpg" alt="">
            <div class="head">SHRI ARVIND VARAK</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/9_JT.-SECRETARY_SHRI-RAJU-JADHAV.jpg" alt="">
            <div class="head">SHRI RAJU JADHAV</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/10_JT.-SECRETARY_SHRI-ANIL-BHATIJA.jpg" alt="">
            <div class="head">SHRI ANIL BHATIJA</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/11_JT.-SECRETARY-_SHRI-PRITESH-PATEL.jpg" alt="">
            <div class="head">SHRI PRITESH PATEL</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/12_JT.-SECRETARY_SHRI-DINESH-MEHTA.jpg" alt="">
            <div class="head">SHRI DINESH MEHTA</div>
        </div>
    </div>
    <div class="row">
        <h5 class="sub-heading">HON. TREASURER</h5>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/13_TREASURER_SHRI-SAKET-TIWARI.jpg" alt="">
            <div class="head">SHRI SAKET TIWARI<br>(HON. TREASURER)</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/14_-JT.-TREASURER_SHRI-RAHUL-KADAM.jpg" alt="">
            <div class="head">SHRI RAHUL KADAM<br>(HON. JOINT TREASURER)</div>
        </div>
    </div>
    <div class="row">
        <h5 class="sub-heading">CO-ORDINATORS</h5>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/15_-Co-ORDINATOR_SHRI-MOHIT-BHOIR.jpg" alt="">
            <div class="head">SHRI MOHIT BHOIR</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/16_Co-ORDINATOR_SHRI-JAYESH-TIWARI.jpg" alt="">
            <div class="head">SHRI JAYESH TIWARI</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/17_Co-ORDINATOR_SHRI-AMIT-SONAWANE.jpg" alt="">
            <div class="head">SHRI AMIT SONAWANE</div>
        </div>
    </div>
    <div class="row">
        <h5 class="sub-heading">COMMITTEE MEMBERS</h5>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/18_COMMITTEE-MEMBER-_SHRI--MILIND-KULKARNI.jpg" alt="">
            <div class="head">SHRI MILIND KULKARNI</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/19_COMMITTEE-MEMBER_SHRI-SANJAY-PATIL.jpg" alt="">
            <div class="head">SHRI SANJAY PATIL</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/20_COMMITTEE-MEMBER_---SHRI-MAYUR-HARIA.jpg" alt="">
            <div class="head">SHRI MAYUR HARIA</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/21_COMMITTEE-MEMBER_SHRI-AMIT-HOTCHANDANI.jpg" alt="">
            <div class="head">SHRI AMIT HOTCHANDANI</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/22_COMMITTEE-MEMBER_SHRI-SUNIL-CHAVAN.jpg" alt="">
            <div class="head">SHRI SUNIL CHAVAN</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/23_COMMITTEE-MEMBER_SHRI-VINAYAK-PATIL.jpg" alt="">
            <div class="head">SHRI VINAYAK PATIL</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/24_INVITEE-MEMBER_SHRI-ROHIT-DIXIT.jpg" alt="">
            <div class="head">SHRI VINAYAK PATIL</div>
        </div>
    </div>
    <div class="row">
        <h5 class="sub-heading">PAST PRESIDENTS</h5>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/25_PAST-PRESIDENT_SHRI--RAVI-PATIL.jpg" alt="">
            <div class="head">SHRI RAVI PATIL</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/26_PAST-PRESIDENT_SHRI--MANOJ-RAI.jpg" alt="">
            <div class="head">SHRI MANOJ RAI</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/27_PAST-PRESIDENT_SHRI-PRAFUL-SHAH.jpg" alt="">
            <div class="head">SHRI PRAFUL SHAH</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/28_PAST-PRESIDENT_SHRI-JOHAR-ZOJWALLA.jpg" alt="">
            <div class="head">SHRI JOHAR ZOJWALLA</div>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/29_PAST-PRESIDENT_SHRI-BANDISH-AJMERA.jpg" alt="">
            <div class="head">SHRI BANDISH AJMERA</div>
        </div>
    </div>
    <div class="row">
        <h5 class="sub-heading">ADVISOR</h5>
        <div class="col-lg-3 col-md-4 col-xs-4">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/30_ADVISOR_SHRI-RAJANBANDELKAR.jpg" alt="">
            <div class="head">SHRI RAJAN BANDELKAR</div>
        </div>
    </div>
</div>
