<div class="container">
    <div class="row">
        <div class="col-2 col-md-2 col-sm-2 col-xs-12">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/1_PRESIDENT_SHRI-SHRIKANT-SHITOLE.jpg" alt="">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-10">
            <h5>MR SHRIKANT SHITOLE </h5>
            <h5>PRESIDENT, CREDAI MCHI-KDU</h5>
            <p>Mr Shrikant Shitole, the Chairman and Managing Director of Tycoons Realties, is a visionary entrepreneur with innovative thoughts and with principles of ethics, transparency,
             developing good human network, creating values in whichever activities he takes up has enhanced the brand ‘Tycoons’ in the industry.</p>
             <p>Mr Shitole is Graduate from Commerce, also holds Intermediate degree from Institute of Chartered Accountants of India (ICAI) and Institute of Cost & Works Accounts
             of India (ICWAI). After academic accomplishments he worked with Hindustan Lever Ltd. He started his enterpreneurial journey in the year 2000. Mr. Shitole is a first3
             generation entrepreneur. He envisioned the luxury need of kalyan and constructed the first city club of Kalyan “ Springtime Club” one of the elite properties in
             entire region. Springtime is a family club with patrons from all walks of life and frequented by the ‘Who’s Who in the city. Apart from the Springtime, Mr Shitole
             has been instrumental in developing and delivering mixed use real estate projects to the tune of nearly One million sqft and 3.5 million sq ft under development
             in the heart of the city under the banner of “Tycoons Group” with focus on quality construction, efficient designs. Quality and Consumer satisfaction is always
             on his mind which has taken the group at a notch above the competition and having very high brand recall in short span of time.</p>
             <p>Mr Shitole has been instrumental in forming CREDAI MCHI KDU on 31st March 2010 under the leadership of Mr Sunil Mantri & Rajan Bandelkar from Mumbai unit and
             Bandish Ajmera as founder president, Mr Shitole was Founder-Secretary for 5 years and has served as Vice-president, President-Elect for the Unit. He has always been
             part of the high achieving team of CREDAI MCHI Kalyan Dombivli Unit in the past 10 years. Under his tenure as President, this year The Kalyan Dombivli Unit is
             celebrating a decade of completion! Social obligations are also not far behind for Mr Shitole. He is also member of Rotary Club of Kalyan. He has been supporting
             social activities for last 20 years from this credible NGO.</p>
             <h6>Mission</h6>
             <p>In the tenure as President Mr Shitole’s mission is to take CREDAI MCHI KDU at next level with a new zeal and vigour giving a new direction to the industry in
                Kalyan Dombivli MR. As a leader, he gives all credit to the tireless efforts and workings to the <b> excellent team of managing committee</b> who are always here to
                serve industry through a planned approach to achieve defined goals & objectives. Key agenda is -</p>
                <ol>
                    <li><b>To finalize tasks</b> like preparing a manual for <b>Ease of Doing Business</b>, preparing <b>fire manual</b>, effective implementation of <b>Auto DCR</b> in the KDMC, Awareness
                     drive for new <b>Unified Development Control Regulation</b> for members and also other policy issues in relation to developmental aspects in the city connected to
                     the various regulations of various authorities like SRA, MMRDA, MHADA etc.</li>
                     <li><b>Formation of Task force</b> and assigning tasks to Young team members as task leaders and senior members as guiding members for accomplishment of tasks with the involvement of architects, municipal authorities, technical consultants.
                        Creating online portal as <b>mymchi.com</b> for the members for any assistance through the secretariat for issues faced. Providing knowledge based information etc.</li>
                     <li>Creating <b>Online Digital platform for Exhibitions</b> for the developers in Kalyan Dombivli & MMR region. Also putting efforts through such platforms for creating
                         demand in the industry and create consumer oriented image in the industry.</li>   
                     <li>Taking initiatives for <b>City and Transit Oriented development</b> by participating in the follow-ups with infrastructure developmental departments like MMRDA,
                         Metro Corporation, PWD, UD, etc. to enchance the pace of infrastructure development in Kalyan Dombivli & MMR region. CREDAI MCHI is also actively been
                         participating in initiatives of local development with KDMC like beautification of roads center verges, development of gardens etc.</li>
                     <li>To <b>expand Membership base</b> of CREDAI MCHI KDU in certain areas of MMR like 27 villages and areas in the vicinity to Kalyan Dombivli boundaries.</li>
                </ol>
                <h6>Complete focus & dedication for adding value to the industry is core objective and mission.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
            <img src="https://www.mymchi.com/assets/images/members/MgntCmt/7_SECRETARY_SHRI-VIKAS.H.JAIN.jpg" alt="">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <h5>MR VIKAS JAIN</h5>
            <h5>HON. SECRETARY, CREDAI MCHI KALYAN DOMBIVLI UNIT</h5>
            <p>Mr Vikas Jain, Managing Director of Vikas Developers is a strategist whose plan of action is designed specifically 
            to accomplish challenging goals. Focus and consistency are the core values that make him achieve these goals.</p>
            <p>
                MR VIKAS JAIN
                HON. SECRETARY, CREDAI MCHI KALYAN DOMBIVLI UNIT
                Mr Vikas Jain, Managing Director of Vikas Developers is a strategist whose plan of action is designed specifically to accomplish challenging goals. Focus and consistency are the core values that make him achieve these goals.
                
                A master in International Business from London metropolitan University, London; he joined the family real estate business as a 
                partner of Vastusankalp Developer and his ability to build a business plan, hire a team, communicate
                a vision and carry out a variety of core operations is truly commendable. His capabilities closely related to the company’s vision.</p>
                <p>He possesses an immense focus and energy with the extensive mental strength and determination. Intensive and innovative to face the
                 challenges that result from starting his new venture VIKAS DEVELOPERS.</p>
                 <p>As a founder member & HON. Secretary of CREDAI MCHI Kalyan-Dombivli unit, his vision, passion and focus enable assured outcome in every drive.
                 This outcome has the clarity required to derive perseverance.</p>
                 <p>Operational approaches are what he follows as tactics to pursue his goals. His ability and desire to work long hours in pursuit of that goal is admirable.
                 Successful completion of “Clean Kalyan -Dombivli” and “Save water” Social initiative in Kalyan Dombivli under his leadership was the great example for the same.</p>
                 <p>Chief Secretary in JITO Kalyan-Dombivli Unit (Jain Internationals Trade Organization), working in the direction unconditionally and selflessly for the welfare of people as well as of society. His ability
                 to inject imagination and uniqueness into a new business venture. He has the skill and ingenuity to create a new venture equipped with strategies to outsmart the competition.</p>
                 <p>As a highly creative individual with a tendency to imagine new solutions by finding opportunities for profit or reward. His ability to innovate is thought to relate to innate
                 traits such as extroversion and a proclivity for risk-taking.</p>
                 <h5>FUTURE GOALS FOR CREDAI MCHI KALYAN-DOMBIVLI UNIT</h5>
                 <ul>
                    <li>Increase the overall value of CREDAI MCHI Kalyan-Dombivli Unit</li>
                    <li>Setting up short-term goals which help to achieve longer term goals</li>
                    <li>Identify specific and measurable things to help processes run smoother</li>
                    <li>Make the team more productive and helpful to the rest of the organization</li>
                    <li>Training team members, making them comfortable to speak for themselves and encouraging creative ideas</li>
                    <li>Assuring that every team serves as a supporting unit</li>
                    <li>Increase community outreach</li>
                 </ul>
        </div>
    </div>
</div>
