<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <img src="assets/Images/MCHI.jpg" alt="image">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form [formGroup]="mchi">
               <div class="container">
                 <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-6">
                        <label for="pType" class="form-label">Property Type</label>
                           <input type="text" id="pType" formControlName="pType" class="form-control">
                    </div>
                </div>
               </div>
            </form>
        </div>
    </div>
</div>

